In [36]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [37]:
data = pd.read_csv('tennisdata.csv')

In [38]:
data.describe()

       Outlook Temperature Humidity  Windy PlayTennis
count       14          14       14     14         14
unique       3           3        2      2          2
top      Rainy        Mild     High  False        Yes
freq         6           6        7      8          9

In [39]:
X = data.iloc[:,:-1]
print("\nThe First 5 values of train data is\n", X.head())

The First 5 values of train data is
     Outlook Temperature Humidity  Windy
0     Sunny         Hot     High  False
1     Sunny         Hot     High   True
2  Overcast         Hot     High  False
3     Rainy        Mild     High  False
4     Rainy        Cool   Normal  False

In [40]:
y = data.iloc[:,-1]
print("\nThe first 5 values of Train output is\n",y.head())

The first 5 values of Train output is
 0     No
1     No
2    Yes
3    Yes
4    Yes
Name: PlayTennis, dtype: object

In [41]:
label = LabelEncoder()

In [42]:
X['Outlook'] = label.fit_transform(X['Outlook'])
X['Temperature'] = label.fit_transform(X['Temperature'])
X['Humidity'] = label.fit_transform(X['Humidity'])
X['Windy'] = label.fit_transform(X['Windy'])
y_fit =  label.fit_transform(y)

In [43]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25, random_state=16)

In [45]:
classifier = GaussianNB()
classifier.fit(X_train,y_train)
print("Accuracy",accuracy_score(classifier.predict(X_test),y_test))

Accuracy 0.75